@media (max-width: 1154px) {
  section.hero-section {
    text-align: center;
  }
  section.about-me > p {
    font-size: 1.8rem;
    padding: 2rem 7rem;
  }
}

@media (max-width: 1045px) {
  section.hero-section {
    padding: 3rem;
  }
  section.hero-section > .left h1 {
    font-size: 3.4rem;
  }
  section.hero-section > .left > p:first-child {
    font-size: 2.5rem;
  }
  section.hero-section > .left > p.mini-about,
  section.about-me,
  section.tools,
  footer.footer {
    padding: 2rem;
  }
}

@media (max-width: 1035px) {
  section.hero-section {
    padding: 5rem 0rem 5rem 5rem;
  }
  div.right > img {
    width: 80%;
  }
  section.about-me > p {
    font-size: 1.6rem;
    padding: 2rem 9rem;
  }
  section.about-me > h5,
  section.tools h5 {
    font-size: 2.5rem;
  }
}

@media (max-width: 877px) {
  section.hero-section > .left h1 {
    font-size: 3.1rem;
  }
  section.hero-section > .left .front-end-container {
    height: 4.5rem;
  }
  section.hero-section > .left > p:first-child {
    font-size: 2.1rem;
  }
}

@media (max-width: 920px) {
  aside.social-contacts {
    padding-left: 1.2rem;
    top: 81%;
  }
}

@media (max-width: 857px) {
  section.hero-section {
    padding: 1rem;
  }

  section > div.top .greeting {
    font-size: 2rem;
  }

  section.tools > .tools-container svg {
    /* width: fit-content; */
  }

  section.portfolio article > .image-container {
    padding: 2rem 0;
    width: 80vw;
  }

  section.portfolio article img {
    width: 100%;
  }

  section > div.bottom {
    text-align: center;
    font-size: 2.5rem;
  }

  section > div.bottom > a {
    width: 50%;
    font-size: 1.2rem;
  }

  section.about-me h4 {
    font-size: 4.5rem;
  }

  section.about-me {
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* font-size: 2.5rem; */
  }

  section .about-me-container {
    align-items: center;
  }

  section.about-me img {
    border-radius: 100%;
    width: 25rem;
    transform: rotate(15deg);
  }

  section.about-me a {
    text-align: center;
    padding: 1rem 2rem;
    background-color: var(--dark-main-color);
    color: var(--plain-white);
    font-size: 2rem;
    width: 50%;
    box-shadow: 10px 5px 5px var(--project-gray);
    border: 0.2rem solid transparent;
    border-radius: 5rem;
  }
  div.right > img {
    width: 100%;
  }
  aside.social-contacts {
    padding-left: 1.2rem;
    top: 79%;
    bottom: 0;
  }
  section.about-me > p {
    padding: 2rem 3rem;
  }
  section.hero-section > .left .front-end-container,
  section.hero-section > .left h1 {
    position: static;
  }
  section.hero-section .right {
    display: flex;
    justify-content: flex-start;
  }

  section.portfolio article {
    flex-direction: column;
  }

  section.tools > .tools-container {
    gap: 1rem;
    max-width: 80vw;
  }

  section.portfolio article#exclusive {
    flex-direction: column-reverse;
  }

  section.portfolio article.left-aligned {
    flex-direction: column-reverse;
  }

  section.portfolio article > .project-information,
  section.portfolio article.left-aligned > .project-information {
    position: static;
    width: 80vw;
    padding: 1rem 3rem;
    font-size: 1.3rem;
  }

  section.portfolio article > .project-information .buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: center;
  }

  section.portfolio article ul {
    flex-wrap: wrap;
  }

  section.portfolio article .buttons a:first-child,
  section.portfolio article .buttons a:nth-child(2) {
    font-size: 1.2rem;
  }

  section.portfolio article .buttons a:first-child {
    font-size: 1rem;
  }

  section.portfolio article h2 {
    font-size: 2rem;
  }

  section.final-contact {
    gap: 1rem;
  }

  section.final-contact a {
    max-width: 50%;
  }

  section.final-contact h2 {
    font-size: 7.5rem;
  }
}

@media (max-width: 768px) {
  nav > .middle-nav,
  nav a.contact-button {
    display: none;
    transition: all 300ms ease-in;
  }

  nav a.contact-button.show {
    display: flex !important;
    position: fixed;
    flex-direction: column;
    left: 50%;
    bottom: 10%;
    color: var(--plain-white);
    border: 0.2rem solid var(--plain-white);
    background-color: transparent;
    z-index: 1;
    font-size: 3rem;
    padding: 1.5rem 2rem;
    transform: translateX(-50%);
  }
}

@media (max-width: 702px) {
  section.hero-section > .left h1 {
    font-size: 3rem;
  }
  section.hero-section > .left > p:first-child {
    font-size: 1.8rem;
  }

  section.hero-section > .left .front-end-container {
    height: 4.5rem;
  }
}

@media (max-width: 620px) {
  section.hero-section > .left .front-end-container {
    height: 8.5rem;
  }
  section.hero-section > .left h1 {
    font-size: 3.2rem;
    line-height: 1.2;
  }
  section.hero-section > .left > p:first-child {
    font-size: 2rem;
  }
  section.portfolio article {
    flex-direction: column;
  }
}

@media (max-width: 420px) {
  section.hero-section > .left h1 {
    font-size: 2.8rem;
  }
  section.hero-section > .left .front-end-container {
    height: 7rem;
  }
  section.hero-section {
    padding: 3rem;
  }
  section.hero-section .right {
    padding-top: 1.5rem;
  }
  section.about-me > p {
    font-size: 1.7rem;
    padding: 2rem;
  }
  section.tools img {
    width: 5rem;
  }
  section.tools img.firebase {
    height: 5rem;
  }
  footer.footer {
    flex-direction: column-reverse;
    gap: 1rem;
    align-items: center;
  }
}

@media (max-width: 280px) {
  section.hero-section > .left .front-end-container {
    height: 9rem;
  }
  section.tools img {
    width: 3rem;
  }
  section.tools img.firebase {
    height: 3rem;
  }
  section.tools > .tools-container {
    align-items: center;
  }
}
