@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lora", serif;
}

a {
  text-decoration: none;
  color: white;
  width: 100%;
}

.blur {
  filter: blur(0.5rem);
}

:root {
  --light-background: #fff9fc;
  --nav-light-black: #343b42;
  --nav-lighter-black: #343b42a7;
  --dark-main-color: #5a1d13;
  --plain-white: #ffffff;
  --plain-black: #000;
  --button-dark-background: #6d2012;
  --project-gray: #6d7d8b;
  --gold-hair: rgb(230, 104, 89);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

button {
  border-radius: 0.4rem;
}

li {
  list-style-type: none;
}

/* navigation */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.4rem;
  font-size: 1.5rem;
  height: 10vh;
}

.navigation h1.logo span {
  color: var(--dark-main-color);
}

nav > .right-nav {
  display: flex;
  gap: 1.3rem;
}

nav > .right-nav a {
  text-decoration: none;
  color: var(--nav-light-black);
  opacity: 0.65;
  /* animation */
  display: inline-block;
  position: relative;
}

nav > .right-nav a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--dark-main-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

nav > .right-nav a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

nav a.contact-button {
  text-decoration: none;
  padding: 1rem 1.5rem;
  color: var(--dark-main-color);
  border: none;
  background-color: var(--plain-white);
  border-radius: 0.4rem;
}

nav .handburger-menu {
  display: none;
  cursor: pointer;
  z-index: 2;
}

nav .handburger-menu .top,
nav .handburger-menu .middle,
nav .handburger-menu .bottom {
  width: 4rem;
  height: 0.5rem;
  background-color: var(--button-dark-background);
  transition: all 300ms ease-in;
}

nav .handburger-menu .top.down {
  transform: translateY(200%);
}
nav .handburger-menu .top.bend {
  transform: translateY(200%) rotate(45deg);
}

nav .handburger-menu .middle.down {
  opacity: 0;
}

nav .handburger-menu .bottom.down {
  transform: translateY(-200%);
}
nav .handburger-menu .bottom.bend {
  transform: translateY(-200%) rotate(-45deg);
}

.mobile-nav-container {
  transition: all 300ms ease-in;
}

.mobile-nav-container.left {
  transition: all 50ms ease-in;
}

.mobile-nav-container.show {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  right: 0%;
  background-color: var(--nav-light-black);
  z-index: 1;
  opacity: 0.93;
}

/* hero section  */
section.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  padding: 5rem 5rem;
  height: 75vh;
  justify-content: center;
}

section > div.top {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  color: var(--dark-main-color);
  gap: 0.3rem;
}

section > div.top > img {
  border: 0.07rem solid var(--gold-hair);
  border-radius: 50%;
  height: 8rem;
}

section > div.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5.5rem;
  color: var(--dark-main-color);
}

section > div.bottom > a {
  width: 25%;
  padding: 1rem 2rem;
  border: 0.2rem solid transparent;
  border-radius: 10rem;
  font-size: 2rem;
  color: var(--plain-white);
  background-color: #6d2012a7;
  cursor: pointer;
  text-align: center;
}

/* fixed aside links */
aside.social-contacts {
  height: 100%;
  position: fixed;
  bottom: -67%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-left: 5rem;
}

aside.social-contacts > div.decorative-line {
  width: 0.3rem;
  height: 10rem;
  background-color: var(--dark-main-color);
  opacity: 0.7;
}

/* about me */
section.about-me,
section.tools,
section.portfolio,
footer.footer {
  padding: 5rem;
}

section.about-me {
  display: flex;
  gap: 10rem;
  font-size: 2rem;
}

section.about-me h4,
section.tools {
  font-size: 5rem;
  color: var(--dark-main-color);
}

section.about-me p {
  color: var(--project-gray);
}

section.about-me img {
  border: 0.2rem solid transparent;
  border-radius: 2.5rem;
  width: 30rem;
  height: auto;
  transform: rotate(-15deg);
  opacity: 0.8;
}

section.about-me a {
  text-align: center;
  padding: 1rem 2rem;
  background-color: var(--dark-main-color);
  color: var(--plain-white);
  font-size: 2rem;
  width: 30%;
  box-shadow: 10px 5px 5px var(--project-gray);
  border: 0.2rem solid transparent;
  border-radius: 5rem;
}

section .about-me-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* tools */
section.tools {
  text-align: center;
}

section.tools > .tools-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
}
section.tools > .tools-container svg {
  width: 10rem;
  border: 0.2rem solid black;
  border-radius: 10rem;
  justify-self: center;
  padding: 1rem;
}

/* portfolio */
section.portfolio article {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 1rem;
  padding: 2rem 4rem;
}

section.portfolio h5 {
  font-size: 5rem;
  color: var(--button-dark-background);
  text-align: center;
}

section.portfolio article img {
  max-width: 45rem;
  height: auto;
}

section.portfolio article > .image-container {
  background-color: hwb(8 34% 40% / 0.424);
  padding: 7rem 0;
  opacity: 0.8;
  filter: brightness(65%);
}

section.portfolio article > .project-information,
section.portfolio article.left-aligned > .project-information {
  position: absolute;
  border: 0.2rem solid var(--dark-main-color);
  padding: 2rem 5rem;
  right: 5rem;
  max-width: 70rem;
  background-color: white;
  z-index: 1;
}

section.portfolio article.left-aligned {
  flex-direction: row-reverse;
}

section.portfolio article.left-aligned > .project-information {
  left: 5rem;
}

section.portfolio article h2 {
  font-size: 4rem;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--button-dark-background);
  opacity: 0.7;
  padding-bottom: 1.2rem;
}

section.portfolio article p {
  opacity: 0.7;
  padding-bottom: 1rem;
}

section.portfolio article ul {
  display: flex;
  gap: 1rem;
  color: var(--project-gray);
  font-size: 1.3rem;
  padding-bottom: 1.5rem;
}

section.portfolio article h4 {
  font-size: 2.2rem;
  opacity: 0.7;
  padding-bottom: 0.4rem;
}

section.portfolio article a {
  text-decoration: none;
  cursor: pointer;
  padding: 0.7rem 1.5rem;
  border-color: transparent;
}

section.portfolio article a.image {
  padding: 2rem 0;
}

section.portfolio a.view-more-link {
  font-size: 2.5rem;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  color: var(--button-dark-background);
  opacity: 0.7;
}

section.portfolio article .buttons a {
  border-radius: 0.4rem;
}

section.portfolio article .buttons a:first-child {
  border: 0.01rem solid var(--button-dark-background);
  background-color: var(--button-dark-background);
  color: var(--plain-white);
  font-size: 2rem;
}

section.portfolio article .buttons a:nth-child(2) {
  border: 0.01rem solid var(--button-dark-background);
  background-color: transparent;
  color: var(--project-gray);
  font-size: 2rem;
}

/* final contact */
section.final-contact {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--dark-main-color);
}

section.final-contact h2 {
  font-size: 10rem;
}

section.final-contact {
  text-align: center;
  font-size: 1.2rem;
}

section.final-contact a {
  max-width: 13%;
  padding: 1rem 2rem;
  border: 0.2rem solid var(--dark-main-color);
  background-color: transparent;
  color: var(--dark-main-color);
  border-radius: 5rem;
}

/* footer */
footer.footer {
  border-top: 0.05rem solid #5a1c1369;
  display: flex;
  justify-content: space-between;
  color: var(--dark-main-color);
  opacity: 0.7;
}

footer a {
  text-decoration: none;
}

footer .copyright-container,
footer .social-media-footer {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

footer .copyright-container img,
footer .social-media-footer img {
  height: 1.5rem;
  width: auto;
}
