@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--light-background);
  font-family: "Lora", serif;
}

.blur {
  filter: blur(0.5rem);
}

:root {
  --light-background: #fff9fc;
  --nav-light-black: #343b42;
  --nav-lighter-black: #343b42a7;
  --dark-main-color: #5a1d13;
  --plain-white: #ffffff;
  --plain-black: #000;
  --button-dark-background: #6d2012;
  --project-gray: #6d7d8b;
  --gold-hair: rgb(230, 104, 89);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

button {
  border-radius: 0.4rem;
}

li {
  list-style-type: none;
}

/* navigation */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.4rem;
  font-size: 1.5rem;
}

.navigation h1.logo span {
  color: var(--dark-main-color);
}

nav > .middle-nav {
  display: flex;
  gap: 1rem;
}

nav > .middle-nav a {
  text-decoration: none;
  color: var(--nav-light-black);
  opacity: 0.65;
  /* animation */
  display: inline-block;
  position: relative;
}

nav > .middle-nav a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--dark-main-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

nav > .middle-nav a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

nav a.contact-button {
  text-decoration: none;
  padding: 1rem 1.5rem;
  color: var(--dark-main-color);
  border: none;
  background-color: var(--plain-white);
}

nav .handburger-menu {
  display: none;
  cursor: pointer;
  z-index: 2;
}

nav .handburger-menu .top,
nav .handburger-menu .middle,
nav .handburger-menu .bottom {
  width: 4rem;
  height: 0.5rem;
  background-color: var(--button-dark-background);
  transition: all 300ms ease-in;
}

nav .handburger-menu .top.down {
  transform: translateY(200%);
}
nav .handburger-menu .top.bend {
  transform: translateY(200%) rotate(45deg);
}

nav .handburger-menu .middle.down {
  opacity: 0;
}

nav .handburger-menu .bottom.down {
  transform: translateY(-200%);
}
nav .handburger-menu .bottom.bend {
  transform: translateY(-200%) rotate(-45deg);
}

.mobile-nav-container {
  transition: all 300ms ease-in;
}

.mobile-nav-container.left {
  transition: all 50ms ease-in;
}

.mobile-nav-container.show,
.mobile-nav-container.left.show {
  position: fixed;
  width: 70%;
  height: 100vh;
  top: 0%;
  right: 0%;
  background-color: #6b342b;
  z-index: 1;
}

.mobile-nav-container.left.show {
  width: 30%;
  left: 0%;
  background-color: rgba(255, 255, 255, 0.448);
  filter: blur(0.5);
}

/* hero section  */

section.hero-section {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 5rem 5rem;
}

section.hero-section > .left {
  padding-left: 7rem;
  width: 50%;
}

section.hero-section > .left > p:first-child {
  font-size: 3rem;
  font-weight: 400;
  color: var(--dark-main-color);
  opacity: 0.7;
}

section.hero-section > .left .front-end-container {
  position: relative;
  height: 5.5rem;
  width: 200%;
}

section.hero-section > .left h1 {
  position: absolute;
  font-size: 4rem;
  font-family: "Roboto Slab", serif;
  color: var(--dark-main-color);
}

section.hero-section > .left > p.mini-about {
  font-size: 1.8rem;
  color: var(--nav-light-black);
  opacity: 0.7;
  padding-bottom: 3.2rem;
  line-height: 1.4;
}

section.hero-section > .left > a.hire-me-button {
  font-size: 1.5rem;
  text-decoration: none;
  padding: 1rem 4rem;
  border: none;
  background-color: var(--button-dark-background);
  color: var(--plain-white);
}

div.right > img {
  border: 0.8rem dotted var(--gold-hair);
  border-radius: 50%;
}

/* fixed aside links */
aside.social-contacts {
  height: 100%;
  position: fixed;
  bottom: -65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-left: 5rem;
}

aside.social-contacts > div.decorative-line {
  width: 0.3rem;
  height: 10rem;
  background-color: var(--dark-main-color);
  opacity: 0.7;
}

/* about me */
section.about-me,
section.tools,
section.portfolio,
footer.footer {
  padding: 5rem;
}

section.about-me > h5,
section.tools h5,
section.portfolio > h5 {
  font-size: 3rem;
  color: var(--dark-main-color);
  opacity: 0.5;
  text-decoration-line: underline;
  text-decoration-thickness: 0.1rem;
}

section.about-me > p {
  font-size: 2.3rem;
  padding: 2rem 4rem;
  opacity: 0.7;
}

/* tools */
section.tools img {
  width: 7rem;
  height: auto;
}

section.tools img.firebase {
  height: 7rem;
}

section.tools > .tools-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

section.tools > .tools-container {
  padding: 2rem 0;
}

section.tools .top-tools,
section.tools .bottom-tools {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.5rem;
}

section.tools .top-tools > div,
section.tools .bottom-tools > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

section.tools .top-tools > div > p,
section.tools .bottom-tools > div > p {
  opacity: 0.7;
}

/* portfolio */
section.portfolio article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  gap: 1rem;
  padding: 2rem 4rem;
}

section.portfolio article img {
  max-width: 45rem;
  height: auto;
}

section.portfolio article > .image-container {
  background-color: #9961586c;
  padding: 7rem 0;
  opacity: 0.8;
  filter: brightness(65%);
}

section.portfolio article > .project-information {
  max-width: 45rem;
}

section.portfolio article h2 {
  font-size: 4rem;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--button-dark-background);
  opacity: 0.7;
  padding-bottom: 1.2rem;
}

section.portfolio article p {
  opacity: 0.7;
  padding-bottom: 1rem;
}

section.portfolio article ul {
  display: flex;
  gap: 1rem;
  color: var(--project-gray);
  font-size: 1.3rem;
  padding-bottom: 2.5rem;
}

section.portfolio article h4 {
  font-size: 2.2rem;
  opacity: 0.7;
  padding-bottom: 0.4rem;
}

section.portfolio article a {
  text-decoration: none;
  cursor: pointer;
  padding: 0.7rem 1.5rem;
  border-color: transparent;
}

section.portfolio article a.image {
  padding: 2rem 0;
}

section.portfolio a.view-more-link {
  font-size: 2.5rem;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  color: var(--button-dark-background);
  opacity: 0.7;
}

section.portfolio article .buttons a:first-child {
  border: 0.01rem solid var(--button-dark-background);
  background-color: var(--button-dark-background);
  color: var(--plain-white);
  font-size: 2rem;
}

section.portfolio article .buttons a:nth-child(2) {
  border: 0.01rem solid var(--button-dark-background);
  background-color: transparent;
  color: var(--project-gray);
  font-size: 2rem;
}

/* footer */
footer.footer {
  border-top: 0.05rem solid #5a1c1369;
  display: flex;
  justify-content: space-between;
  color: var(--dark-main-color);
  opacity: 0.7;
}

footer a {
  text-decoration: none;
}

footer .copyright-container,
footer .social-media-footer {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

footer .copyright-container img,
footer .social-media-footer img {
  height: 1.5rem;
  width: auto;
}
